html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,107,121,1) 49%, rgba(0,212,255,1) 100%);
}
ul, li {
    list-style: none;;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.content-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    padding: 30px;
    border-bottom: 5px solid #000;
    /* background-color: #7bc3c3; */
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar_list {
    padding: 0;
    display: flex;
}
.nav-bar_list_item {
    font-size: 20px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 0 75px 0 75px;
}
.nav-bar_list_link {
    display: block;
    height: 20px;
    width: 120px;
    text-align: center;
    margin-top: ;
}
.logo-main {
    height: 100px;
    width: 280px;
}
.logo_square {
    width: 100px;
    height: 100px;
    margin-right: 50px;
}
.main-content {
    flex: 1 1 auto;
    
}


.footer {
    /* background-color: #7bc3c3; */
    padding: 30px;
}